Repository bluscreams-battlebit-module-forks/BattleMetrics-battlebit-rcon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-common, build-module

build-common:
  image: mcr.microsoft.com/dotnet/sdk:6.0
  stage: build
  artifacts:
    paths:
    - Common/bin/Release/net6.0/Common.dll
  script:
  - cd Common
  - dotnet restore
  - dotnet build --no-restore -c 'Release'

build-module:
  image: mcr.microsoft.com/dotnet/sdk:6.0
  stage: build
  needs:
  - job: build-common
    artifacts: true
  artifacts:
    paths:
    - Common/bin/Release/net6.0/Common.dll
  script:
  - mkdir -p BattleMetricsRCONModule/{dependencies,modules}
  ...

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Build RCONServer class
  .gitlab-ci.yml
  RCONModule/RCONModule.csproj
Due: build-module

Any changes trigger common
  .gitlab-ci.yml
Due: none

Build then pack?
  .gitlab-ci.yml
Due: none

Trying to create releases
  .gitlab-ci.yml
Due: none

Create artifact with release
  .gitlab-ci.yml
Due: none

No bash?
  .gitlab-ci.yml
Due: none

Add asset
  .gitlab-ci.yml
Due: none

Assets goes under release
  .gitlab-ci.yml
Due: none

Asset link fix
  .gitlab-ci.yml
Due: none

Add filepath for perm links
  .gitlab-ci.yml
Due: none

Filepath must start with a slash
  .gitlab-ci.yml
Due: none

Add version to file name
  .gitlab-ci.yml
Due: none

Add tag to artifact name
  .gitlab-ci.yml
Due: none

Add release links to README
  README.md
Due: none

Gitlab CI builds/releases
  .gitlab-ci.yml
  RCONModule/RCONModule.csproj
  README.md
Due: build-module

Removes wss/configuration null and changedConfig check
  RCONModule/BattleMetricsRCON.cs
Due: build-module

Adds try-catch to wss instantiation to unload module on error
  RCONModule/BattleMetricsRCON.cs
Due: build-module

Removes redundant CreatePassword call
  RCONModule/BattleMetricsRCON.cs
Due: build-module

Changes Dispose to OnModuleUnloading
  RCONModule/BattleMetricsRCON.cs
Due: build-module

Removes base calls
  RCONModule/BattleMetricsRCON.cs
Due: build-module

Removes wss null checks
  RCONModule/BattleMetricsRCON.cs
Due: build-module

Changes default listening IP from 0.0.0.0 to +
  RCONModule/BattleMetricsRCON.cs
Due: build-module

Removes nullability from configuration
  RCONModule/BattleMetricsRCON.cs
Due: build-module

Removes access to Server in OnModulesLoaded
  RCONModule/BattleMetricsRCON.cs
Due: build-module

Changes async void to Task to prevent fatal crash
  Common/BattleBitRCON/WebSocketServer.cs
Due: build-common, build-module

Adds error handling of wss.Start exceptions
  RCONModule/BattleMetricsRCON.cs
Due: build-module

Task.WhenAny requires at least one task
  Common/BattleBitRCON/WebSocketServer.cs
Due: build-common, build-module

Wait for all messages to be sent
  Common/BattleBitRCON/WebSocketServer.cs
Due: build-common, build-module

Bump version for NuGet
  RCONServer/RCONServer.csproj
Due: none

Bundle common code in NuGet package
  RCONServer/RCONServer.csproj
Due: none

Queue and send messages
  Common/BattleBitRCON/WebSocketServer.cs
Due: build-common, build-module

Avoid async void
  Common/BattleBitRCON/WebSocketServer.cs
Due: build-common, build-module

We don't need to log websocket exceptions
  Common/BattleBitRCON/WebSocketServer.cs
Due: build-common, build-module

Use SendMessage for errors too
  Common/BattleBitRCON/WebSocketServer.cs
Due: build-common, build-module

Log server start and stop
  Common/BattleBitRCON/WebSocketServer.cs
Due: build-common, build-module

Added [ModuleAttribute] tag needed for bbr 1.0
  RCONModule/BattleMetricsRCON.cs
Due: build-module

Use thread safe/concurrent collections
  Common/BattleBitRCON/WebSocketServer.cs
Due: build-common, build-module

Path conditions:
  build-common: any of: Common/**/*
  build-module: any of: Common/**/*, RCONModule/**/*
